<div class="container pt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">
                    Bạn Đang Xem: {{course.name}}
                </div>
                <div class="card-body text-center">
                    <iframe width="1000" height="700" src="https://www.youtube.com/embed/{{course.videoid}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="card-footer">
                    Mô Tả: {{course.description}}
                </div>
            </div>
        </div>
    </div>
</div>